/* *,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
} */
/* input{
    text-transform: uppercase;
} */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
}
nav {
  height: 10vh;
  background: -webkit-gradient(linear, top left, from(#7baabe), to(#969ac6));
  background: -webkit-linear-gradient(#7baabe, #969ac6);
  background: linear-gradient(#7baabe, #969ac6);
}
.navlinks {
  display: flex;
  list-style: none;
  width: 50%;
  height: 100%;
  justify-content: space-around;
  align-items: center;
  margin-left: auto;
  /* background-color: tomato; */
}
.navlinks li a:hover {
  color: slateblue;
  border-bottom: tomato;
}
.navlinks li a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
}
/* .nav-head-item > a {
  text-decoration: none;

  color: #fff;
} */
.container {
  height: 90vh;
  display: flex;
  justify-content: center;
}
.profpic {
  /* flex-direction: row; */
  display: flex;
  width: 50%;
  padding: 20px;
  /* border: red solid 1px; */
}

.profpic section img {
  justify-content: center;
  border-radius: 20px;
}
.lorem {
  padding: 10px;
}
.navlinks.open {
  -webkit-clip-path: circle(1000px at 90% -10%);
  clip-path: circle(1000px at 90% -10%);
  pointer-events: all;
}
@media screen and (max-width: 768px) {
  .bar {
    height: 3px;
    width: 30px;
    background: #fff;
    margin: 5px;
  }
  nav {
    position: relative;
  }

  .hamburger {
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 50%;
    transform: translate(-5%, -50%);
    z-index: 1;
  }

  .navlinks {
    position: fixed;
    background-color: #7baabe;
    height: 100vh;
    width: 100%;

    flex-direction: column;

    -webkit-clip-path: circle(100px at 90% -20%);
    clip-path: circle(100px at 90% -20%);
    transition: all 1s ease-out;
    pointer-events: none;
  }
  .container {
    display: block;
  }
  .profpic {
    display: flex;
    width: 100%;
    justify-content: center;
    border: solid red 1px;
  }
  .profpic img {
    display: inline-flex;
  }
}
